/* css reset */
body, section, header, nav, h1, h2, h3, table {
    margin: 0;
    padding 0;
    font-size:100%;
}
table {
    border-collape: true;
    border-spacing: 0;
}

/*
color wheel
blue-gray: #98A798
dark gray: #263029
silver: #BEC0BF
forest: #307454
dark forest: #0D3221
rust: #864D1D
.color-primary-0 { color: #277552 }	/* Main Primary color */
/*
.color-primary-1 { color: #75B095 }
.color-primary-2 { color: #499371 }
.color-primary-3 { color: #0F5837 }
.color-primary-4 { color: #003B20 }
.color-primary-5 { color: #D3D8D6 }

.color-complement-0 { color: #AA5739 }	/* Main Complement color */
/*
.color-complement-1 { color: #FFC1AA }
.color-complement-2 { color: #D4876A }
.color-complement-3 { color: #803215 }
.color-complement-4 { color: #551700 }
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #C9F4E1;
}
h1 {
    font-size: 5em;
}
h2 {
    margin-left: 1em;
    font-size: 3em;
}
.logo {
    background: white;
    border: 1px solid #061F14;
    margin-right: 1em;
}
.emp-main-component {
    margin-top: 3em;
    border-radius: 25px;
}
.dark-bg {
    background: #061F14;
    color: #E1F3F7;
}
.green-bg {
    background: #17744B;
    color: #E1F3F7;
}
.light-green-bg {
    background: #C9F4E1;
    color: black;
}
.dark-border {
    border: solid 0.3em #061F14;
}